:root {
    --primary-color: #3498db;
    --secondary-color: rgb(238, 238, 238);
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: #333;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: var(--primary-color);
    color: #fff;
    display:flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header h3 {
    padding: 0;
    margin: 0;
}

.header ul {
    padding-left: 20px;
}

.course-info {
    margin: 20px;
    margin-left: 40px;
}

.course-info h1{
    margin-top: 0;
    margin-bottom: 10px;
}

.course-info h2 {
    margin: 0;
}

.team-members, .team-members-mobile {
    background-color: var(--secondary-color);
    color:#333;
    margin: 20px;
    padding: 10px;
    margin-left: auto;
    border-radius: 5px;
}

.team-members-mobile {
    display: none;
}

.projects{
    margin: 2rem;
    padding: 1rem;
}

.project {
    margin-bottom: 1.5rem;
}

.project h3 {
    margin: 5px;
}

.project ul {
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.project ul li {
    margin: 8px 0 8px 0;
}

.lang-groups {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    padding-left: 2rem;
    border-radius: 5px;
}

.lang-group h4 {
    margin: 0;
}

.lang-group ul {
    padding-left: 1.5rem;
}

.personal-info {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: fit-content;
}

.info-header {
    display: inline-block;
    padding-left: 1rem;
    vertical-align: top;
}

#jacob-img {
    border-radius: 5px;
}

.about-me {
    margin: 0 2rem 2rem 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    line-height: 1.5rem;
}

.error-message {
    margin: 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 5px;
    line-height: 1.5rem;
}


footer {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box; 
    height: 60px; 
}

footer p {  
    margin: 0 0 1rem 3rem;
    color: #666;
}

@media(max-width: 549px){
    #logo {
        margin-right: auto;
        height: 75px;
        width: 75px;
    }

    .course-info {
        margin-left: auto;
    }

   .personal-info {
        width: auto;
        margin: 2rem;
   }

    .projects{
        margin: 0 2rem 2rem 2rem;
        padding: 0;
    }

    .team-members {
        display: none;
    }

    .team-members-mobile {
        display: block;
        margin: 2rem;
        padding-left: 1rem;
        
    }
}

@media(max-width:500px){
    .personal-info{
        display: block;
        text-align: center;
        align-items: center;
    }

    #jacob-img {
        width: 90%;
        height: auto;
        margin: auto;
        display: block;
    }

    .info-header {
        display: block;
        padding-left: 0;
        margin-top: 1rem;
    }
}



